<app-navigation></app-navigation>

<div class="container">

  <table datatable [dtOptions]="dtOptions" class="row-border hover table">
    <thead>
      <tr>
        <th>Account Type</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Logic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Depozit</td>
        <td>Depozit Komercijalna</td>
        <td>2500</td>
        <td>
          <button type="button" class="btn btn-info btn-sm gBtnTableInfo"(click) = "accountDetails()">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>