<app-navigation></app-navigation>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        Account: <b>20000</b>
      </div>
    </div>
  
</div>
 

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Daily Expenses</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Add</a>
        </div>
      </div>
    </div>
    

    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Income</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
