<app-navigation></app-navigation>

<div class="container">
    <div class="alert alert-light" role="alert">
        Accounts
      </div>
<div class="row">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">DateActive</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Komercijalna Banka</td>
            <td>150</td>
            <td>Debit Card</td>
            <td>20.06.2020</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="row">
    <div class="alert alert-light" role="alert">
        Income
      </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">DateActive</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Komercijalna Banka</td>
            <td>150</td>
            <td>Debit Card</td>
            <td>20.06.2020</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="row">
    <div class="alert alert-light" role="alert">
        Expence
      </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">DateActive</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Komercijalna Banka</td>
            <td>150</td>
            <td>Debit Card</td>
            <td>20.06.2020</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
