<app-navigation></app-navigation>

<div class="container">

  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        Monthy account: <b>20000</b>
      </div>
    </div>
  
</div>
 

  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Expenses</h4>
        <p>Total spend today: 3000</p>
        <hr>
        <p>Latest daily expenses:</p>
        <ul>
          <li>Jajca 300</li>
          <li>Mleko 100</li>
        </ul>
        <hr>
        <p class="mb-0">
          <button type="button" class="btn btn-danger" routerLink = '/expense'>Add Expense</button>
        </p>
      </div>
    </div>
    

    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Income</h4>
        <p>Total monthly income: 50000</p>
        <hr>
        <p>Latest income:</p>
        <ul>
          <li>Plata 30</li>
          <li>Lihva 30000</li>
        </ul>
        <hr>
        <p class="mb-0">
          <button type="button" class="btn btn-success" routerLink = '/income'>Add Income</button>
        </p>
      </div>
    </div>
  </div>
</div>
