// Need to be global TABCSS
.gTabCss {
    margin-bottom: 2rem;
    border: 1px solid #343a40;
    border-radius: 6px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #343a40;
    color:white;
}

.nav-pills .nav-link {
color: #343a40;
}

.gformButtonCss {
float: right;
}

.gBtnTableInfo{

}

// .gBtnTableDelete{
//     float: right;
// }

// global end