.gTabCss {
    margin-bottom: 2rem;
    border: 1px solid #343a40;
    border-radius: 6px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #343a40;
    color:white;
}


.nav-pills .nav-link {
    color: #343a40;
    }


.gformButtonCss {
float: right;
}

.gBtnTableInfo{

}

.gTableButtons{
    float: right;
}

.gBtnTableDelete{
    margin-left: 2rem;
}

.gNewButtonCss{
    margin-bottom: 1rem;
}
